*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: ; */
}
p{
    font:inherit ;
    overflow-wrap: break-word;
}
nav{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: white;
    flex-direction: row;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0,0,0, 0.15);
    justify-content: space-between;
}
nav img{
    width: 60px;
    height: 35px;
    cursor: pointer;

}
nav .navs ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
nav .navs ul li{
    list-style: none;
    margin-left: 30px;

}
nav .navs ul li a{
    text-decoration: none;
    color: rgb(21, 21,100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}
nav .navs ul li a:hover{
    color: yellow;
}

#home{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url("images'/bg.webp");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;

}

#home h2{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;

}


#home p{
    width: 50%;
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;
}

#features{
    padding: 5vw 8vw 0 8vw;
    text-align: center;

}

#features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#features .fea-box{
    background: #d7d7d8;
    border-radius: 40px;
    padding: 40px;
    text-align: start;
}

#features .fea-box:hover{
    background: #6e6e81;
    border-radius: 5px;
}

#features .fea-box i{
    font-size: 2.3rem;
    color: rgb(44,44,80);
}
#features .fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46,46,59);
    padding: 13px 0 7px 0;
}

#features .fea-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70,70,87);
}
a{
    text-decoration: none; 
}
a:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    

}
.sub{
    color: rgb(255, 255, 255);
    margin-top: 3px;
    
}
.sub span{
    /* border:50px ; */
    background-color: rgb(118, 138, 118);
    padding: 4px ;
    border-radius: 10px;

}


.mpcp{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
.mpch1{
    text-align: center;
}

.brtaravata{
    margin-left: 20%;
    margin-right: 20%;
}
.courses{
    color: rgb(0, 0, 0);
    margin-left: 30%;
    margin-top: 20px;

}
.courses ul li{
    margin-top: 10px;
    
}
.courses ul li:hover{
    padding: 10px;

}

.coursesb{
    color: rgb(0, 0, 0);
    margin-left: 30%;
    margin-top: 20px;

}